From the analysis we can see that the majority of players are men with a total of 84% men players, although on average women spend 40 more cents than men. We can also note that about 75% of players are within 15-29 years old. And on average the age groups who spends the most are those less than 10 years old. We can also see that the most purchased item is Oathbreaker, Last Hope of the Breaking Storm.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
total_players = len(purchase_data["SN"].unique())
print(f' The number of total players is {total_players}')

 The number of total players is 576

In [3]:
Number_of_Unique_Items = len(purchase_data["Item ID"].unique())
Average_Price = purchase_data["Price"].mean()
Number_of_Purchases = len(purchase_data["Purchase ID"])
Total_Revenue = purchase_data["Price"].sum()
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items": [Number_of_Unique_Items],
                                   "Average Price": [Average_Price],
                                   "Number of Purchases": [Number_of_Purchases],
                                   "Total Revenue": [Total_Revenue]})
Purchasing_Analysis["Average Price"]=Purchasing_Analysis["Average Price"].map("${:.2f}".format)
Purchasing_Analysis["Total Revenue"]=Purchasing_Analysis["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [4]:
gender_df = purchase_data.loc[:,["Gender","SN"]]
gender_df.drop_duplicates(subset ="SN", keep = 'first', inplace = True)

In [5]:
gender_total= gender_df.groupby(["Gender"]).count()
gender_total["Percentage of Players"]=gender_total["SN"]/(gender_total["SN"].sum())*100
gender_total=gender_total.rename(columns= {"SN":"Total Count"})
gender_total["Percentage of Players"]=gender_total["Percentage of Players"].map("{:.2f}%".format)
gender_total

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [6]:
gender_analysis_df = purchase_data.loc[:,["Gender","SN","Price"]]

In [7]:
total_purchase_value =gender_analysis_df.groupby(["Gender"]).sum()
total_purchase_value=total_purchase_value.rename(columns={"Price":"Total Purchase Value"})
total_purchase_value=total_purchase_value.reset_index(drop=False)

In [8]:
total_per_person =gender_analysis_df.groupby(["SN","Gender"]).sum()
ave_total_per_person=total_per_person.groupby(["Gender"]).mean()
ave_total_per_person=ave_total_per_person.rename(columns={"Price":"Average Total Purchase per Person"})
ave_total_per_person=ave_total_per_person.reset_index(drop=False)

In [9]:
ave_pur_price =gender_analysis_df.groupby(["Gender"]).mean()
ave_pur_price=ave_pur_price.rename(columns={"Price":"Average Purchase Price"})
ave_pur_price=ave_pur_price.reset_index(drop=False)

In [10]:
gender_purchasing =gender_analysis_df.groupby(["Gender"]).count()
del gender_purchasing["SN"]
gender_purchasing=gender_purchasing.rename(columns={"Price":"Purchase Count"})
gender_purchasing=gender_purchasing.reset_index(drop=False)

In [11]:
from functools import reduce

In [12]:
dfs = [gender_purchasing, ave_pur_price, total_purchase_value,ave_total_per_person]

final_gender_analysis = reduce(lambda left,right: pd.merge(left,right,on='Gender'), dfs)
final_gender_analysis["Average Purchase Price"]=final_gender_analysis["Average Purchase Price"].map("${:.2f}".format)
final_gender_analysis["Total Purchase Value"]=final_gender_analysis["Total Purchase Value"].map("${:.2f}".format)
final_gender_analysis["Average Total Purchase per Person"]=final_gender_analysis["Average Total Purchase per Person"].map("${:.2f}".format)
final_gender_analysis.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
bins=[0,9,14,19,24,29,34,39,45]
age_groups=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_dem = purchase_data.loc[:,["SN","Age"]]
age_dem.drop_duplicates(subset ="SN", keep = 'first', inplace = True)
age_dem["Age Groups"]= pd.cut(age_dem["Age"],bins,labels= age_groups)
age_dem_total= age_dem.groupby(["Age Groups"]).count()
age_dem_total["Age"]=age_dem_total["Age"]/len(age_dem["SN"])*100
age_dem_total= age_dem_total.rename(columns={"SN":"Total Count","Age":"Percentage of Players"})
age_dem_total["Percentage of Players"]=age_dem_total["Percentage of Players"].map("{:.2f}%".format)
age_dem_total

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [14]:
purchase_data2= purchase_data.copy()
bins=[0,9,14,19,24,29,34,39,45]
age_groups=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data2["Age Groups"]= pd.cut(purchase_data2["Age"],bins,labels= age_groups)
purchase_data2= purchase_data2.loc[:,["Age Groups","SN","Price"]]

In [15]:
total_purchase_value2 =purchase_data2.groupby(["Age Groups"]).sum()
total_purchase_value2=total_purchase_value2.rename(columns={"Price":"Total Purchase Value"})
total_purchase_value2=total_purchase_value2.reset_index(drop=False)

In [16]:
total_per_person2= purchase_data2.groupby(["SN","Age Groups"]).sum()
ave_total_per_person2=total_per_person2.groupby(["Age Groups"]).mean()
ave_total_per_person2=ave_total_per_person2.rename(columns={"Price":"Average Total Purchase per Person"})
ave_total_per_person2=ave_total_per_person2.reset_index(drop=False)

In [17]:
ave_pur_price2 =purchase_data2.groupby(["Age Groups"]).mean()
ave_pur_price2=ave_pur_price2.rename(columns={"Price":"Average Purchase Price"})
ave_pur_price2=ave_pur_price2.reset_index(drop=False)

In [18]:
age_purchasing =purchase_data2.groupby(["Age Groups"]).count()
del age_purchasing["SN"]
age_purchasing=age_purchasing.rename(columns={"Price":"Purchase Count"})
age_purchasing=age_purchasing.reset_index(drop=False)

In [19]:
dfs2 = [age_purchasing, ave_pur_price2, total_purchase_value2,ave_total_per_person2]

final_age_analysis = reduce(lambda left,right: pd.merge(left,right,on='Age Groups'), dfs2)
final_age_analysis["Average Purchase Price"]=final_age_analysis["Average Purchase Price"].map("${:.2f}".format)
final_age_analysis["Total Purchase Value"]=final_age_analysis["Total Purchase Value"].map("${:.2f}".format)
final_age_analysis["Average Total Purchase per Person"]=final_age_analysis["Average Total Purchase per Person"].map("${:.2f}".format)
final_age_analysis.set_index("Age Groups")

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [20]:
spenders= purchase_data.loc[:,["SN","Price"]]

In [21]:
spenders_purchasing =spenders.groupby(["SN"]).count()
spenders_purchasing=spenders_purchasing.rename(columns={"Price":"Purchase Count"})
spenders_purchasing=spenders_purchasing.reset_index(drop=False)

In [22]:
ave_pur_price3 =spenders.groupby(["SN"]).mean()
ave_pur_price3=ave_pur_price3.rename(columns={"Price":"Average Purchase Price"})
ave_pur_price3=ave_pur_price3.reset_index(drop=False)

In [23]:
total_purchase_value3 =spenders.groupby(["SN"]).sum()
total_purchase_value3=total_purchase_value3.rename(columns={"Price":"Total Purchase Value"})
total_purchase_value3=total_purchase_value3.reset_index(drop=False)

In [24]:
dfs3 = [spenders_purchasing, ave_pur_price3, total_purchase_value3]

final_spenders_analysis = reduce(lambda left,right: pd.merge(left,right,on='SN'), dfs3)
final_spenders_analysis=final_spenders_analysis.sort_values(["Total Purchase Value"],ascending=False)
final_spenders_analysis["Average Purchase Price"]=final_spenders_analysis["Average Purchase Price"].map("${:.2f}".format)
final_spenders_analysis["Total Purchase Value"]=final_spenders_analysis["Total Purchase Value"].map("${:.2f}".format)
final_spenders_analysis.set_index("SN").head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [25]:
popular_items = purchase_data.loc[:,["Item ID","Item Name", "Price"]]

In [26]:
item_purchasing =popular_items.groupby(["Item ID","Item Name"]).count()
item_purchasing=item_purchasing.rename(columns={"Price":"Purchase Count"})
item_purchasing=item_purchasing.reset_index(drop=False)

In [27]:
item_price = popular_items.groupby(["Item ID","Item Name"]).mean()

item_price=item_price.rename(columns={"Price":"Item Price"})
item_price=item_price.reset_index(drop=False)
del item_price["Item Name"]

In [28]:
total_purchase_value4 = popular_items.groupby(["Item ID","Item Name"]).sum()
total_purchase_value4=total_purchase_value4.rename(columns={"Price":"Total Purchase Value"})
total_purchase_value4=total_purchase_value4.reset_index(drop=False)
del total_purchase_value4["Item Name"]

In [29]:
dfs4 = [item_purchasing,item_price , total_purchase_value4]

final_item_analysis = reduce(lambda left,right: pd.merge(left,right,on='Item ID'), dfs4)
final_item_analysis=final_item_analysis.sort_values(["Purchase Count"],ascending=False)
final_item_analysis=final_item_analysis.set_index(["Item ID", "Item Name"])
final_item_analysis["Total Purchase Value"]=final_item_analysis["Total Purchase Value"].map("${:.2f}".format)
final_item_analysis["Item Price"]=final_item_analysis["Item Price"].map("${:.2f}".format)
final_item_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [30]:
final_item_analysis2 = reduce(lambda left,right: pd.merge(left,right,on='Item ID'), dfs4)
final_item_analysis2=final_item_analysis2.sort_values(["Total Purchase Value"],ascending=False)
final_item_analysis2=final_item_analysis2.set_index(["Item ID", "Item Name"])
final_item_analysis2["Total Purchase Value"]=final_item_analysis2["Total Purchase Value"].map("${:.2f}".format)
final_item_analysis2["Item Price"]=final_item_analysis2["Item Price"].map("${:.2f}".format)
final_item_analysis2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80